.About-header {
  background-color:white;
}

.About-main {
  min-height: 95vh;
}

.d1 {
  height: 100%;
  width: 100%;
}

.d2 {
  height: 100%;
  width: 100%;
}

.d3 {
  height: 100%;
  width: 100%;
}

.About-footer {
  min-height: 5vh;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#root
  > div
  > div
  > div.About-main.row
  > div.row
  > div.col-xl-5
  > div
  > div
  > div
  > img {
  min-height: 50vw;
}

#root > div > div > div.About-main.row > div.row > div.col-xl-7 > div > div {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root
  > div
  > div
  > div.About-main.row
  > div.row
  > div.col-xl-7
  > div
  > div
  > div
  > div
  > a
  > p {
  margin-left: 1rem;
}

.myresume {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.resume-name {
  margin-top: 5rem;
}
.resume-right {
  margin-left: 37%;
  width: 60%;
  color: black;
  display: block;
}
.resume-left {
  width: 28%;
  background-color: gold;
  text-align: center;
  height: 165rem;
  margin-left: 4rem;
  position: absolute;
  top: 4rem;
  display: block;
}
.knowledge {
  display: flex;
  justify-content: space-between;
}
.tech {
  display: flex;
  justify-content: space-between;
}
.education {
  display: flex;
  justify-content: space-between;
}
.education-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects {
  display: flex;
  justify-content: space-between;
}
.experience {
  display: flex;
  justify-content: space-between;
}
.experience-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h4 {
  color: gold;
}
