@import url("https://fonts.googleapis.com/css?family=Abel|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap");

.About-header {
  background-color: white;
}

.About-main {
  min-height: 95vh;
  font-family: "Sulphur Point", sans-serif;
}

.d1 {
  height: 100%;
  width: 100%;
}

.d2 {
  height: 100%;
  width: 100%;
}

.d3 {
  height: 100%;
  width: 100%;
}

.About-footer {
  min-height: 5vh;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#root
  > div
  > div
  > div.About-main.row
  > div.row
  > div.col-xl-5
  > div
  > div
  > div
  > img {
  min-height: 50vw;
}

#root > div > div > div.About-main.row > div.row > div.col-xl-7 > div > div {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root
  > div
  > div
  > div.About-main.row
  > div.row
  > div.col-xl-7
  > div
  > div
  > div
  > div
  > a
  > p {
  margin-left: 1rem;
  width: 100%;
}

.myresume {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.5rem;
}
.resume-name {
  margin-top: 2rem;
  font-size: 1.3rem;
}
.resume-leftTitle {
  font-size: 0.9rem;
}
.resume-leftContact {
  font-size: 0.75rem;
  text-align: center;
}
.resume-left {
  width: 90%;
  background-color: gold;
  text-align: center;
  height: 25rem;
}
.resume-right {
  width: 95%;
  color: black;
}

.tech {
  line-height: 0.35rem;
}
.education {
  display: flex;
  justify-content: space-between;
}
.education-right {
  font-size: 0.55rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects {
  display: flex;
  justify-content: space-between;
}
.experience {
  display: flex;
}
.experience-right {
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.resume-header {
  color: black;
  font-size: 0.7rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: lightgray;
}
.resume-content {
  font-size: 0.65rem;
  font-weight: 600;
  line-height: 0.95rem;
}
h6 {
  line-height: 1rem;
  font-size: 0.65rem;
  font-weight: 700;
}
.pinpal-content {
  line-height: 1.3rem;
}
.job-description {
  line-height: 1rem;
}
.resume-footer {
  text-align: center;
  margin-top: 3rem;
  font-weight: 600;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .resume-left {
    width: 28%;
    background-color: gold;
    text-align: center;
    height: 125rem;
    margin-left: 0.5rem;
    position: absolute;
    top: 4rem;
    display: block;
  }
  .myresume {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .resume-name {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
  .resume-leftTitle {
    font-size: 0.8rem;
  }
  .resume-leftContact {
    font-size: 0.65rem;
    text-align: center;
  }
  .resume-right {
    line-height: 0.9rem;
    margin-left: 32%;
    width: 68%;
    color: black;
    display: block;
  }
  .knowledge {
    display: flex;
    justify-content: space-evenly;
    margin-left: -2.8rem;
  }

  .tech {
    display: flex;
    justify-content: space-around;
    line-height: 0.9rem;
  }
  .education {
    display: flex;
    justify-content: space-between;
  }
  .education-right {
    margin-right: 0.4rem;
    font-size: 0.55rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }
  .projects {
    display: flex;
    justify-content: space-between;
  }
  .experience {
    display: flex;
    justify-content: space-between;
  }
  .experience-right {
    font-size: 0.55rem;
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: baseline;
    margin-bottom: -3rem;
  }
  .experience-left {
    width: 60%;
    margin-bottom: 0;
  }
  .experience-left p {
    margin-bottom: 0;
  }
  .resume-header {
    color: black;
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    background-color: lightgray;
  }
  .resume-content {
    font-size: 0.65rem;
    font-weight: 600;
    line-height: 1rem;
  }
  h6 {
    line-height: 1rem;
    font-weight: 700;
    font-size: 0.65rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
  }
  .pinpal-content {
    line-height: 1rem;
  }
  .job-description {
    line-height: 1.3rem;
  }
  .resume-footer {
    text-align: center;
    margin-top: 3.3rem;
    font-weight: 600;
    font-size: 0.65rem;
  }
}
@media (min-width: 1440px) {
  .resume-left {
    width: 28%;
    background-color: gold;
    text-align: center;
    height: 120rem;
    margin-left: 4rem;
    position: absolute;
    top: 4rem;
    display: block;
  }
  .myresume {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .resume-name {
    margin-top: 5rem;
    font-size: 2rem;
  }
  .resume-leftTitle {
    font-size: 1rem;
  }
  .resume-leftContact {
    font-size: 0.9rem;
    text-align: center;
  }
  .resume-right {
    margin-left: 37%;
    width: 60%;
    color: black;
    display: block;
  }
  .knowledge {
    display: flex;
    justify-content: space-evenly;
    margin-left: -10rem;
  }

  .tech {
    display: flex;
    justify-content: space-around;
  }
  .education {
    display: flex;
    justify-content: space-between;
  }
  .education-right {
    margin-right: 0.6rem;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }
  .projects {
    display: flex;
    justify-content: space-between;
  }
  .experience {
    display: flex;
    justify-content: space-between;
  }
  .experience-right {
    font-size: 0.67rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.8rem;
    margin-top: 0.5rem;
  }
  .experience-left {
    width: 60%;
    margin-bottom: 0;
  }
  .experience-left p {
    margin-bottom: 0;
    line-height: 1.3rem;
  }
  .resume-header {
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    background-color: lightgray;
  }
  .resume-content {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.7rem;
  }
  h6 {
    line-height: 1.2rem;
    font-weight: 700;

    font-size: 0.8rem;
    margin-bottom: 0.6rem;
    margin-top: 0.3rem;
  }
  .pinpal-content {
    line-height: 1.5rem;
  }
  .job-description {
    line-height: 1.8rem;
  }
  .resume-footer {
    text-align: center;
    margin-top: 4.5rem;
    font-weight: 600;
  }
}
