@import url("https://fonts.googleapis.com/css?family=Abel|Raleway|Raleway+Dot|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap");

.main_row {
  font-family: "Sulphur Point", sans-serif;
  margin-right: 0;
}
.card_col {
  margin-left: 8%;
  padding-top: 5%;
  margin-top: 5%;
}

.card_main {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-color: white;
  text-align: left;
  height: 14rem;
}
.card-body {
  font-size: 0.9rem;
}
.card-body h4 {
  color: goldenrod;
}
.card-body a {
  margin-left: 16rem;
}
.card_main:hover {
  transition: all 0.2s ease-out;
  top: -4px;
  background: rgba(26, 26, 26);
  box-shadow: 0px 4px 35px rgb(255, 255, 255);
}

.blockquote-footer {
  color: white;
  font-weight: 300;
  font-size: 0.85rem;
}

.icon {
  color: white;
  cursor: pointer;
}

.icon:hover {
  color: rgb(255, 196, 102);
}
.project-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos {
  width: 80%;
  margin-left: 4rem;
  margin-top: 2rem;
}

