@import url("https://fonts.googleapis.com/css?family=Abel|Raleway|Raleway+Dot|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap");

.main_row {
  font-family: "Sulphur Point", sans-serif;
  margin-right: 0;
}
.card_col {
  margin-left: 8%;
  padding-top: 5%;
  margin-top: 5%;
}

.card_main {
  background: rgba(255, 255, 255, 0.1);
  color: black;
  border-color: gray;
  text-align: left;
  height: 16rem;
}
.card-body {
  font-size: 0.9rem;
}
.card-body h4 {
  color: gold;
}
/* .card-body a {
  margin-left: 18rem;
} */
.card_main:hover {
  transition: all 0.2s ease-out;
  top: -4px;
  background: gray;
}

.blockquote-footer {
  color: black;
  font-weight: 300;
  font-size: 0.85rem;
}

.icon {
  color: white;
  cursor: pointer;
}

.icon:hover {
  color: rgb(255, 196, 102);
}
.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}
.projects_video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}
.videos {
  width: 90%;
  margin-left: 4rem;
  margin-top: 2rem;
  border: gray solid 0.1rem;
}
.cards {
  width: 45%;
  display: flex;
  flex-direction: column;
 
}
.card_col {
  min-width: 75%;

}