.Contact-header {
  background-color: white;
  color: rgb(230, 200, 154);
  height: 75vh;
}

.Contact-main {
  height: 70vh;
}
.form-group {
  color: rgb(230, 200, 154);
}

.Contact-left {
  display: flex;
  flex-direction: column;
  margin: auto;
  display: block;
}

.Contact-right {
  margin-top: 1.3rem;
  display: block;
}

.Contact-footer {
  min-height: 5vh;
}
