.social-icons {
  text-align: center;
  margin-top: 1rem;
}

.git {
  margin: 2%;
  color: goldenrod;
}

.git:hover {
  color: rgb(218, 165, 32, 0.788);
}

.linkedin {
  margin: 2%;
  color: rgba(218, 165, 32, 0.787);
}

.linkedin:hover {
  color: rgb(255, 196, 102);
}
