.social-icons {
  text-align: center;
  margin-top: 1rem;
}

.git {
  margin: 2%;
  color: gold;
}

.git:hover {
  color: gold;
}

.linkedin {
  margin: 2%;
  color: gold;
}

.linkedin:hover {
  color: gold;
}
