@import url("https://fonts.googleapis.com/css?family=Abel|Asap|Raleway+Dots|Raleway|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel|Asap|Raleway+Dots|Roboto+Mono|Raleway|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap");

.Contact-text {
  text-align: center;
  color: rgb(26, 26, 26);
  margin-top: 6rem;
}

.p-heading1 {
  font-size: 4rem;
  font-family: "Sulphur Point", sans-serif;
}

.p-heading2 {
  font-size: 0.98rem;
  padding: 2.5%;
  font-family: "Roboto Mono", monospace;
}

.contact-left-footer {
  width: 100%;
  font-size: 1.7rem;
}
.contact-me {
  background-color: gold;
  width: 75%;
  height: 90vh;
  margin-left: 4rem;
  position: absolute;
  top: -28rem;
}
