

.Contact-form {
  text-align: center;
  padding-bottom: 8%;
  color: gold;
}

.contact-form-header {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 1%;
 
}

.contact_input {
  padding-left: 10%;
  padding-right: 10%;
}

.contact_input_text {

  font-size: 0.75rem;
  border-radius: 0.3rem;
  text-align: center;
  background: transparent;
  border-color: gray;
  min-height: 6.5vh;
}

.contact_success_modal_body {
  text-align: center;
  background: #090909;
  color: white;
}

.contact_success_modal_img {
  height: 15vh;
  padding-bottom: 3%;
}

.contact-email-text-btn:hover {
  background: #666666;
  color: rgb(230, 200, 154);
}
.contact-email-text-btn {
  font-size: 0.7rem;
  font-weight: 600;
  color: black;
  border-color: gray;
}

@media (min-width:768){
  .contact-form-header {
    font-size: 1.3rem;
  }
  .contact_input_text {
    font-size: 1rem;
  }
  .contact-email-text-btn {
    font-size: 0.85rem;
  }
}