.home-right {
  /* height: 70%; */
}
.container {
  padding-left: 0;
}
.home-right-main {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
}
@media (min-width: 768px) {
  .home-right-main {
    /* margin-top: 22%; */
    display: flex;
    flex-direction: column;
    margin-right: 15%;
  }
}
.home-right-main-img {
  margin-top: 2rem;
  display: block;
  border-radius: 50%;
  margin-right: 0;
  height: 35vh;
  width: 35vh;
}
@media (min-width: 768px) {
  .home-right-main-img {
    margin-top: 2rem;
    height: 40vh;
    width: 40vh;
  }
}
@media (min-width: 1200px) {
  .home-right-main {
    /* margin-top: 62%; */
    margin-right: 35%;
  }
  .home-right-main-img {
    height: 45vh;
    width: 45vh;
  }
}

@media (min-width: 1440px) {
  .home-right-main-img {
    height: 50vh;
    width: 50vh;
  }
}
