.navbar {
  height: 4rem;
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: flex-end;
}
/* .home-left-aboutme-main {
  position: relative;
  z-index: -1;
} */

.home-left-aboutme-btn {
  color: white;
  font-size: 0.8rem;
  width: 7rem;
}

.home-left-aboutme-btn:hover {
  color: black;
  background: gray;
  border-radius: 0.35rem;
}

.home-left-aboutme-btn:hover {
  background: gray;
}
