@import url("https://fonts.googleapis.com/css?family=Abel|Raleway|Raleway+Dot|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap");

.home-left {
  height: 42rem;
  width: 22rem;
  background-color: goldenrod;
  position: absolute;
  top: -6rem;
  left: 2rem;
}
.home-left-main {
  height: 100%;
  text-align: center;
  color: rgb(26, 26, 26);
}

.home-left-main-col {
  margin-top: 3rem;
  margin-left: 0;
  margin-right: 0;
  display: block;
  background-color: goldenrod;
}

.first-line {
  font-size: 3rem;
  font-family: "Sulphur Point", sans-serif;
}

.second_line {
  font-size: 2rem;
  font-family: "Julius Sans One", sans-serif;
}

.typical {
  font-size: 1.2rem;
  font-family: "Sulphur Point", sans-serif;
}
