.home-left {
  width: 100%;
  background-color: gold;
}
.home-left-main {
  height: 100%;
  text-align: center;
  color: rgb(26, 26, 26);
}

.home-left-main-col {
  height: 65vh;
  margin-top: 1rem;
}

.first-line {
  padding-top: 1.2rem;
  font-size: 2rem;
}
.second_line {
  font-size: 1rem;
}
.typical {
  font-size: 0.9rem;
}
.home-description {
  margin-left: 2.4rem;
  margin-right: 2rem;
}

@media (min-width: 768px) {
  .first-line {
    font-size: 2rem;
  }
  .home-left-main-col {
    height: 100vh;
    margin-top: 3.5rem;
    margin-left: 0;
    margin-right: 0;
    display: block;

    height: 85vh;
  }
  .home-left {
    width: 36%;
    position: absolute;
    top: 6rem;
    left: 5%;
  }

  .second_line {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .typical {
    font-size: 0.85rem;
    font-weight: 700;
  }
  .home-description {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .first-line {
    font-size: 2.6rem;
  }
  .second_line {
    font-size: 1.7rem;
  }
  .typical {
    font-size: 1rem;
  }
  .home-description {
    font-size: 1.3rem;
  }
}
